.stock {
  background: #f5f5f5;
  padding: 32px 0;
  margin-bottom: 75px;

  // .stock__cards

  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1400px) {
      flex-direction: column;
      gap: 50px;
    }
  }

  // .stock__card

  &__card {
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
    flex-basis: 534px;
    height: 241px;
    @media (max-width: 1660px) {
      @include adaptiv-value(flex-basis, 534, 200, 3);
    }
    @media (max-width: 1400px) {
      flex-basis: unset;
      width: 100%;
    }
    @media (max-width: $md2+px) {
      flex-direction: column;
      height: unset;
      padding: 20px 0;
    }
    @media (max-width: $md4+px) {
      padding: 40px 0;
    }
  }

  // .stock__img

  &__img {
    @media (max-width: 1400px) {
      flex-basis: 300px;
    }
  }

  // .stock__info

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // .stock__title

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.07em;
    color: #0f0f0f;
    max-width: 325px;
    @media (max-width: 1400px) {
      max-width: unset;
    }
    @media (max-width: $md2+px) {
      text-align: center;
    }
  }

  // .stock__subtitle

  &__subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.07em;
    color: #0f0f0f;
    @media (max-width: $md2+px) {
      max-width: 400px;
      text-align: center;
    }
  }
}
